.note .card {
  min-height: 167px;
  max-width: 340px;
  background: #fbfbfb;
  border-radius: 20px;
  border: none;
}

.note .card:hover {
  cursor: pointer;
}

.card-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.delete-icon:hover {
  cursor: pointer;
}
