.App {
  font-family: Lato-Regular, Helvetica, sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Lato-Regular";
  font-weight: 400;
  src: local("Lato"),
    url(./Routes/main/components/fonts/Lato-Regular.ttf) format("truetype");
}
