.App {
  font-family: "Roboto", sans-serif;
}

/* @font-face {
  font-family: "Lato-Regular";
  font-weight: 400;
  src: local("Lato"), url(./fonts/Lato-Regular.ttf) format("truetype");
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
