.note {
  min-height: 180px;
  /* position: relative; */
}

.card-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-text:hover {
  cursor: pointer;
}

.delete-icon:hover {
  cursor: pointer;
}
