.noteList .add-icon {
  background-color: #fbfbfb;
  border-radius: 100%;
}

.noteList .add-icon:hover {
  cursor: pointer;
  background-color: black;
  color: #fbfbfb;
}

.noteList .notes-list .options button {
  border-radius: 20px;
}
