.note .card {
  min-height: 167px;
  min-width: 340px;
  background: #fbfbfb;
  border-radius: 20px;
  border: none;
}

.note .card:hover,
.note .active {
  background: #ffab45 !important;
  color: #ffffff;
}

.card-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.delete-icon:hover {
  cursor: pointer;
}
